/* ## Collection Header
------------------------------------------------- */

.page-header {
  > .row {
    align-items: flex-end;
  }
}

@media (min-width: 768px) {
  .page-header {
    > .row {
      align-items: center;
    }

    [class*="col-"]:nth-of-type(2) {
      text-align: right;
    }

    h1 {
      margin-bottom: 0;
    }
  }
}
