/* ## Main
------------------------------------------------- */

main {
  min-height: 100vh;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

@media (min-width: 768px) {
  main {
    min-height: calc(100vh - 80px);
  }
}
